<header>
    Object Opposition League
</header>
<nav>
    <ul>
        <li>
            <a href="/">Schools</a>
        </li>
        <li>
            <a href="/add-player">Add A Player</a>
        </li>
        <li>
            <a href="/games">Games</a>
        </li>
        <li>
            <a href="/top-records">Top Records</a>
        </li>
</nav>
