<header>
    Object Opposition League
</header>
<nav>
    <ul>
        <li>
            <a href="/">Schools</a>
        </li>
        <li>
            <a href="/games">Games</a>
        </li>
        <li>
            <a href="/top-records">Top Records</a>
        </li>
        <li class="right">
            <a href="/help">Help/About</a>
        </li>

</nav>
